.header {
  background-color: var(--light-green);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;  /* Aligns left and right sections */
  align-items: center;  /* Vertically centers the content */
}

.logo-container {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo-container h1 {
  color: var(--pink);  /* Match the color of the links */
  text-decoration: none;  /* Ensures no underline on the logo text */
  margin: 0;  /* Remove default margin */
  line-height: 1.5;
}

.logo-container a {
  text-decoration: none;  /* Ensures no underline for NavLink */
}

.logo {
  width: 150px;
  height: auto;
  margin-right: 1rem;
  padding-left: 5rem;
}

h1 {
  font-size: 2.5rem;
  color: var(--pink);  /* Pink color for text */
  font-weight: bold;
  margin: 0;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 2rem;  /* Adds space between each nav item */
  margin: 0;
  padding-top: 70px;
}

.navbar ul li {
  position: relative;  /* Necessary for the underline */
}

.navbar ul li a {
  color: var(--pink);
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1rem;
  padding-bottom: 5px;  /* Add padding to make room for the line */
  display: inline-block;
  position: relative;
}

.navbar ul li a:hover {
  color: var(--dark-brown);
}

.navbar ul li a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background-color: var(--dark-brown);
  left: 0;
  bottom: 0;
  transition: width 0.3s ease-in-out;  /* Makes the line grow from left to right */
}

.navbar ul li a:hover::after {
  width: 100%;  /* Full underline on hover */
}

.navbar ul li a.active::after {
  width: 100%;  /* Full underline if active */
}

